venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.idea/
.vscode/
tests/
scripts/
docs/
Docs/
alembic/versions/*_test*.py
brain/
out.txt
test_out.txt
pytest_trace_full.txt
